# Xcode / XcodeGen
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
build/

# env files
.env*

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved
.build/
.vercel
